<?xml version="1.0" encoding="UTF-8"?>

<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd"
							xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
							xmlns="http://www.springframework.org/schema/beans"
							default-init-method="default_init" default-destroy-method="default_destroy">
							
	<bean id="t1" class="kr.co.softsoldesk.beans.TestBean1" lazy-init="true" init-method="bean1_init" destroy-method="bean1_destroy"/>
	<bean id="t2" class="kr.co.softsoldesk.beans.TestBean2" lazy-init="true" />
	<bean id="t3" class="kr.co.softsoldesk.beans.TestBean3" lazy-init="true" init-method="bean3_init" destroy-method="bean3_destroy"/>
	<bean id="t4" class="kr.co.softsoldesk.beans.TestBean4" lazy-init="true" />
	
</beans>
	<!-- init-method: 생성자 호출(getBean)할때 메서드를 부르고 싶을 때 > ex)회원가입을 시도하는 순간 인증코드를 발생  
	// destroy-method: 연결을 끊고 직후에 메서드를 부르고 싶을 때> ex)회원가입 완료를 하는 순간 가입완료 메시지를 띄움
	//default -init/destroy-method: init/destroy-method를 따로 설정해두지 않으면 deault설정해서 소환하는 메서드
	
	//default는 없어도 에러가 발생하지 않고 그냥 읽지 않고 넘어가지만, init-method는 에러가 발생한다.
	 -->
							
